.card {
    background-color: var(--light-color);
    border-radius: 1.25rem;
    -webkit-box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(225, 75%, 86%);
       -moz-box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(225, 75%, 86%);
            box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(225, 75%, 86%);
    width: 375px;
    animation: slideInFromLeft 1.8s ease-in-out;
}

.flex {
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.btn {
    background-color: var(--secondary-color);
    border-radius: 0.625rem;
    color: var(--light-color);
    font-weight: 700;
    padding: 1.063rem 0;
    font-size: 0.781rem;
    -webkit-box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(245, 75%, 86%);
       -moz-box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(245, 75%, 86%);
            box-shadow: 0 1.563rem 1.875rem -0.375rem hsl(245, 75%, 86%);
}

.btn:hover {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.btn:active {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: scale(0.98);
    -webkit-box-shadow: 0 0.625rem 0.625rem -0.063rem hsl(245, 75%, 86%);
       -moz-box-shadow: 0 0.625rem 0.625rem -0.063rem hsl(245, 75%, 86%);
            box-shadow: 0 0.625rem 0.625rem -0.063rem hsl(245, 75%, 86%);
}